label {
    display: block;
}

.title{
  margin-left: 10%;
}

body, html {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: black;
  width: 0;
  height: 100%; 
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1; 
  color: white;
  padding-top: 40px;
  transition: 0.5s;
}

.sidebar a:last-child {
  background: rgb(94, 0, 94);
  border-radius: 5px;
  color: white;
  width: 80%;
  padding: 10px;
  margin-right: 7%;
  margin-left: 7%;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:last-child:hover {
  background: rgb(153, 1, 153);
}

.openbtn {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  background-color: #2980B9;
  padding: 5px;
  color: white;
  border: none;
  z-index: 101;
  transition: 0.3s;
}

.openbtn:hover {
  color: rgb(177, 177, 177);
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.sidebar .closebtn:hover {
  color: rgb(177, 177, 177);
}

.search-box {
  width: 80%;
  padding: 10px;
  border: none;
  margin-right: 7%;
  margin-left: 7%;
  border-radius: 5px;
  background-color: #333333;
  color: white;
}

.content {
  background-color: #333333;
  width: 100%;
  margin-left: 0;
  height: 100vh;
  overflow-y: auto;
  position: sticky;
  color: white;
  transition: margin-left .5s; /* If you want a transition effect */
  padding-left: 5px;
}

.header {
  background-color: #2980B9;
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 20px 0;
  text-align: center;
  color: white;
}

.chat-container{
  width: 100%;
  height: 85%;
}
.chat-box {
  width: 100%;
  height: 85%;
  background-color: #333333;
  overflow-y: auto;
}

#receiving{
  justify-content: flex-start;
  align-items: flex-start; 
}

#sending{
  justify-content: flex-end;
  align-items: flex-end; 
}

#receiving, #sending {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  padding: 15px;
  flex-direction: column;
}

#receiving p, #sending p {
  margin-bottom: 5px; /* Adds a little space below the names */
}

#receiving div, #sending div {
  background-color: black;
  padding: 15px;
  max-width: 45%;
  border-radius: 10px;
}


.selected-username{
  background-color: black;
  color: White;
}

#results-container{
  padding: 5px;
}

#results-container div{
  padding: 10px;
  background-color: #333333;
  margin: 5px;
  cursor: pointer;
  color: white;
}

#results-container div:hover{
  background-color: #2980B9;
}

.selected-username{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.selected-username li{
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  
}

.selected-username li:hover{
  background-color: #333333;
}

.message-container{
  width: 100%;
  height: 8%;
  
}
#message{
  width: 80%;
  height: 50%;
  margin-left: 7%;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
  background-color: #333333;
  color: white;
  padding: 10px;
  font-size: 15px;
}

#send-btn{
  height: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: #7a7a7a;
  cursor: pointer;
  border: none;
  color: white;
}

#send-btn:hover{
  background-color: black;
}

/*==================================================================================================*/

header {
  display: flex;
  background-color: #2980B9;
  justify-content: center;
  padding: 10px;
}

body {
  background-color: rgb(228, 227, 227);
}

h3 {
  color: white;
  margin: 10px;
  font-size: 30px;
}

.sign {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20em auto;
}

.sign div {
  margin: 2px;
  background-color: white;
  text-decoration: none;
  padding: 50px;
  border: solid rgb(167, 167, 167);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #7a7a7a;
}


